DATABASE_URL = database_type_name://username:password@host/database_name
SECRET_KEY = 
ALGORITHM = HS256
ACCESS_TOKEN_EXPIRE_MINUTES = 60
REFRESH_TOKEN_EXPIRE_DAYS = 1

GROQ_API_KEY = 

DB_USER = postgres
DB_PASSWORD = 
DB_HOST = localhost
DB_PORT = 5432
DB_NAME = cognigate

EMAIL_HOST = smtp.gmail.com
EMAIL_PORT = 587
EMAIL_USER = 
EMAIL_PASSWORD = 